In [83]:
import pandas as pd

df = pd.read_csv('raspisanye.csv')

In [84]:
map_col = df.head().loc[0]
map_col

Уникальный ID записи                                                                                 id
ID причала                                                                                      dock.id
Название причала                                                                              dock.name
Название судна - отсутсвует если отменено                                                     ship.name
Название маршрута                                                                       route.nameroute
Швартовочное место                                                                position.berth_letter
Дата начала действия записи расписания в UTC                                        timetable.startdate
Дата окончания действиязаписи  расписания в UTC                                       timetable.enddate
Время подхода судна в минутах от начала суток                                       timetable.starttime
Время отхода судна в минутах от начала суток                                          timetable.endtime
Время стоянки                                                                        timetable.duration
Название судна которое было отменено                                         changed_schedule.ship_name
Тип записи - пустое знеачение если изменений нет, Отмена - судно отменено         changed_schedule.type
Дата начала действия записи расписания                                                Начало расписания
Дата окончания действия записи расписания                                          Окончание расписания
Причаливание/подход                                                                        Причаливание
Отход                                                                                             Отход
Name: 0, dtype: object

In [85]:
df = df.rename(dict(zip(df.columns, df.loc[0].values)), axis=1).drop(0)
df.head()

,id,dock.id,dock.name,ship.name,route.nameroute,position.berth_letter,timetable.startdate,timetable.enddate,timetable.starttime,timetable.endtime,timetable.duration,changed_schedule.ship_name,changed_schedule.type,Начало расписания,Окончание расписания,Причаливание,Отход
1,1093216,45,Воробьевы горы,Алина Браво,Северный 1А,A,1719954000,1731790800,1,5,4,NaN,NaN,7/3/2024,11/17/2024,12:01:00 AM,12:05:00 AM
2,1094166,32,Нескучный сад,М-250,Исторический,C,1719954000,1731790800,1,5,4,NaN,NaN,7/3/2024,11/17/2024,12:01:00 AM,12:05:00 AM
3,1094538,32,Нескучный сад,Москва-24,Северный,B,1719954000,1731790800,1,4,3,NaN,NaN,7/3/2024,11/17/2024,12:01:00 AM,12:04:00 AM
4,1096121,45,Воробьевы горы,NaN,Северный 1А,A,1719954000,1719954000,1,5,4,Алина Браво,Отмена,7/3/2024,7/3/2024,12:01:00 AM,12:05:00 AM
5,1096896,32,Нескучный сад,NaN,Исторический,C,1719954000,1719954000,1,5,4,М-250,Отмена,7/3/2024,7/3/2024,12:01:00 AM,12:05:00 AM

In [86]:
df = df.drop('id', axis=1)

In [87]:
df = df.drop('dock.id', axis=1)

In [88]:
df

,dock.name,ship.name,route.nameroute,position.berth_letter,timetable.startdate,timetable.enddate,timetable.starttime,timetable.endtime,timetable.duration,changed_schedule.ship_name,changed_schedule.type,Начало расписания,Окончание расписания,Причаливание,Отход
1,Воробьевы горы,Алина Браво,Северный 1А,A,1719954000,1731790800,1,5,4,NaN,NaN,7/3/2024,11/17/2024,12:01:00 AM,12:05:00 AM
2,Нескучный сад,М-250,Исторический,C,1719954000,1731790800,1,5,4,NaN,NaN,7/3/2024,11/17/2024,12:01:00 AM,12:05:00 AM
3,Нескучный сад,Москва-24,Северный,B,1719954000,1731790800,1,4,3,NaN,NaN,7/3/2024,11/17/2024,12:01:00 AM,12:04:00 AM
4,Воробьевы горы,NaN,Северный 1А,A,1719954000,1719954000,1,5,4,Алина Браво,Отмена,7/3/2024,7/3/2024,12:01:00 AM,12:05:00 AM
5,Нескучный сад,NaN,Исторический,C,1719954000,1719954000,1,5,4,М-250,Отмена,7/3/2024,7/3/2024,12:01:00 AM,12:05:00 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7883,Лужники – Северный,Маэстро,Разовый подход,A,1722373200,1722373200,NaN,600,600,NaN,NaN,7/31/2024,7/31/2024,NaN,10:00:00 AM
7884,Новоспасский,Жемчужина,Разовый подход,A,1720299600,1720299600,NaN,30,30,NaN,NaN,7/7/2024,7/7/2024,NaN,12:30:00 AM
7885,Красный октябрь,Благодать,Разовый подход,B,1722200400,1722200400,NaN,30,30,NaN,NaN,7/29/2024,7/29/2024,NaN,12:30:00 AM
7886,Новоспасский,Богема,Разовый подход,A,1723755600,1723755600,NaN,30,30,NaN,NaN,8/16/2024,8/16/2024,NaN,12:30:00 AM
7887,Новоспасский,Жемчужина,Разовый подход,A,1722718800,1722718800,NaN,30,30,NaN,NaN,8/4/2024,8/4/2024,NaN,12:30:00 AM

Временно удалим атрибуты timetable.startdate, timetable.enddate

In [89]:
df = df.drop(['timetable.startdate', 'timetable.enddate'], axis=1)

In [90]:
df = df.drop(['timetable.starttime', 'timetable.endtime'], axis=1)

In [91]:
df = df.drop(['Начало расписания', 'Окончание расписания'], axis=1)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7887 entries, 1 to 7887
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   dock.name                   7887 non-null   object
 1   ship.name                   4129 non-null   object
 2   route.nameroute             7887 non-null   object
 3   position.berth_letter       7887 non-null   object
 4   timetable.duration          7887 non-null   object
 5   changed_schedule.ship_name  2254 non-null   object
 6   changed_schedule.type       2254 non-null   object
 7   Причаливание                7743 non-null   object
 8   Отход                       7887 non-null   object
dtypes: object(9)
memory usage: 554.7+ KB

In [94]:
col_numeric = ['timetable.duration']

df[col_numeric] = df[col_numeric].astype(int)

In [95]:
df.describe(include='object')

,dock.name,ship.name,route.nameroute,position.berth_letter,changed_schedule.ship_name,changed_schedule.type,Причаливание,Отход
count,7887,4129,7887,7887,2254,2254,7743,7887
unique,36,82,11,14,41,1,956,924
top,Нескучный сад,Чижик-II,Исторический,A,Чижик-II,Отмена,12:59:00 AM,10:00:00 AM
freq,1157,900,3159,2803,1188,2254,114,243

In [96]:
df['Причаливание'] = pd.to_datetime(df['Причаливание'])
df['Отход'] = pd.to_datetime(df['Отход'])

/tmp/ipykernel_116971/832309581.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Причаливание'] = pd.to_datetime(df['Причаливание'])
/tmp/ipykernel_116971/832309581.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Отход'] = pd.to_datetime(df['Отход'])

In [97]:
df.isna().sum()

dock.name                        0
ship.name                     3758
route.nameroute                  0
position.berth_letter            0
timetable.duration               0
changed_schedule.ship_name    5633
changed_schedule.type         5633
Причаливание                   144
Отход                            0
dtype: int64

пропуски в ship.name = отсутсвуют или отменены (кол-во)

In [98]:
df

,dock.name,ship.name,route.nameroute,position.berth_letter,timetable.duration,changed_schedule.ship_name,changed_schedule.type,Причаливание,Отход
1,Воробьевы горы,Алина Браво,Северный 1А,A,4,NaN,NaN,2024-11-30 00:01:00,2024-11-30 00:05:00
2,Нескучный сад,М-250,Исторический,C,4,NaN,NaN,2024-11-30 00:01:00,2024-11-30 00:05:00
3,Нескучный сад,Москва-24,Северный,B,3,NaN,NaN,2024-11-30 00:01:00,2024-11-30 00:04:00
4,Воробьевы горы,NaN,Северный 1А,A,4,Алина Браво,Отмена,2024-11-30 00:01:00,2024-11-30 00:05:00
5,Нескучный сад,NaN,Исторический,C,4,М-250,Отмена,2024-11-30 00:01:00,2024-11-30 00:05:00
...,...,...,...,...,...,...,...,...,...
7883,Лужники – Северный,Маэстро,Разовый подход,A,600,NaN,NaN,NaT,2024-11-30 10:00:00
7884,Новоспасский,Жемчужина,Разовый подход,A,30,NaN,NaN,NaT,2024-11-30 00:30:00
7885,Красный октябрь,Благодать,Разовый подход,B,30,NaN,NaN,NaT,2024-11-30 00:30:00
7886,Новоспасский,Богема,Разовый подход,A,30,NaN,NaN,NaT,2024-11-30 00:30:00
7887,Новоспасский,Жемчужина,Разовый подход,A,30,NaN,NaN,NaT,2024-11-30 00:30:00

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7887 entries, 1 to 7887
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   dock.name                   7887 non-null   object
 1   ship.name                   4129 non-null   object
 2   route.nameroute             7887 non-null   object
 3   position.berth_letter       7887 non-null   object
 4   timetable.duration          7887 non-null   int64
 5   changed_schedule.ship_name  2254 non-null   object
 6   changed_schedule.type       2254 non-null   object
 7   Причаливание                7743 non-null   datetime64[ns]
 8   Отход                       7887 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 554.7+ KB

In [100]:
import numpy as np

df['changed_schedule.type'] = df['changed_schedule.type'].replace('Отмена', np.nan)

/tmp/ipykernel_116971/3812200950.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['changed_schedule.type'] = df['changed_schedule.type'].replace('Отмена', np.nan)

In [101]:
df.isna().sum()

dock.name                        0
ship.name                     3758
route.nameroute                  0
position.berth_letter            0
timetable.duration               0
changed_schedule.ship_name    5633
changed_schedule.type         7887
Причаливание                   144
Отход                            0
dtype: int64

In [102]:
df.shape

(7887, 9)

In [103]:
df = df.drop('changed_schedule.type', axis=1)

In [104]:
df = df.dropna(subset='ship.name')

In [105]:
df = df.drop('changed_schedule.ship_name', axis=1)

In [106]:
df

,dock.name,ship.name,route.nameroute,position.berth_letter,timetable.duration,Причаливание,Отход
1,Воробьевы горы,Алина Браво,Северный 1А,A,4,2024-11-30 00:01:00,2024-11-30 00:05:00
2,Нескучный сад,М-250,Исторический,C,4,2024-11-30 00:01:00,2024-11-30 00:05:00
3,Нескучный сад,Москва-24,Северный,B,3,2024-11-30 00:01:00,2024-11-30 00:04:00
7,Воробьевы горы,Снегири-3,Исторический,B,10,2024-11-30 00:02:00,2024-11-30 00:12:00
9,Красный октябрь,Москва-28,Исторический,A,4,2024-11-30 00:04:00,2024-11-30 00:08:00
...,...,...,...,...,...,...,...
7883,Лужники – Северный,Маэстро,Разовый подход,A,600,NaT,2024-11-30 10:00:00
7884,Новоспасский,Жемчужина,Разовый подход,A,30,NaT,2024-11-30 00:30:00
7885,Красный октябрь,Благодать,Разовый подход,B,30,NaT,2024-11-30 00:30:00
7886,Новоспасский,Богема,Разовый подход,A,30,NaT,2024-11-30 00:30:00
7887,Новоспасский,Жемчужина,Разовый подход,A,30,NaT,2024-11-30 00:30:00

In [107]:
df[df['route.nameroute'] == 'Разовый подход']

,dock.name,ship.name,route.nameroute,position.berth_letter,timetable.duration,Причаливание,Отход
18,Крымский мост,Морис,Разовый подход,B,10,2024-11-30 00:10:00,2024-11-30 00:20:00
147,Кленовый бульвар,Прага,Разовый подход,A,10,2024-11-30 00:25:00,2024-11-30 00:35:00
351,Кленовый бульвар,Благодать,Разовый подход,A,10,2024-11-30 00:35:00,2024-11-30 00:45:00
361,Кленовый бульвар,Добрыня,Разовый подход,A,10,2024-11-30 00:45:00,2024-11-30 00:55:00
943,Кленовый бульвар,Святогор,Разовый подход,A,5,2024-11-30 09:00:00,2024-11-30 09:05:00
...,...,...,...,...,...,...,...
7883,Лужники – Северный,Маэстро,Разовый подход,A,600,NaT,2024-11-30 10:00:00
7884,Новоспасский,Жемчужина,Разовый подход,A,30,NaT,2024-11-30 00:30:00
7885,Красный октябрь,Благодать,Разовый подход,B,30,NaT,2024-11-30 00:30:00
7886,Новоспасский,Богема,Разовый подход,A,30,NaT,2024-11-30 00:30:00
7887,Новоспасский,Жемчужина,Разовый подход,A,30,NaT,2024-11-30 00:30:00

In [111]:
df = df.reset_index(drop='first')

In [112]:
df

,dock.name,ship.name,route.nameroute,position.berth_letter,timetable.duration,Причаливание,Отход
0,Воробьевы горы,Алина Браво,Северный 1А,A,4,2024-11-30 00:01:00,2024-11-30 00:05:00
1,Нескучный сад,М-250,Исторический,C,4,2024-11-30 00:01:00,2024-11-30 00:05:00
2,Нескучный сад,Москва-24,Северный,B,3,2024-11-30 00:01:00,2024-11-30 00:04:00
3,Воробьевы горы,Снегири-3,Исторический,B,10,2024-11-30 00:02:00,2024-11-30 00:12:00
4,Красный октябрь,Москва-28,Исторический,A,4,2024-11-30 00:04:00,2024-11-30 00:08:00
...,...,...,...,...,...,...,...
4124,Лужники – Северный,Маэстро,Разовый подход,A,600,NaT,2024-11-30 10:00:00
4125,Новоспасский,Жемчужина,Разовый подход,A,30,NaT,2024-11-30 00:30:00
4126,Красный октябрь,Благодать,Разовый подход,B,30,NaT,2024-11-30 00:30:00
4127,Новоспасский,Богема,Разовый подход,A,30,NaT,2024-11-30 00:30:00
4128,Новоспасский,Жемчужина,Разовый подход,A,30,NaT,2024-11-30 00:30:00

In [113]:
df[df['dock.name'] == 'Воробьевы горы']

,dock.name,ship.name,route.nameroute,position.berth_letter,timetable.duration,Причаливание,Отход
0,Воробьевы горы,Алина Браво,Северный 1А,A,4,2024-11-30 00:01:00,2024-11-30 00:05:00
3,Воробьевы горы,Снегири-3,Исторический,B,10,2024-11-30 00:02:00,2024-11-30 00:12:00
9,Воробьевы горы,Снегири-2,Северный,A,4,2024-11-30 00:09:00,2024-11-30 00:13:00
55,Воробьевы горы,Капитан Смолик,Северный 1А,A,4,2024-11-30 00:16:00,2024-11-30 00:20:00
56,Воробьевы горы,Олимпиада,Исторический,B,10,2024-11-30 00:17:00,2024-11-30 00:27:00
...,...,...,...,...,...,...,...
3970,Воробьевы горы,Чижик-II,Исторический,B,10,2024-11-30 23:47:00,2024-11-30 23:57:00
3971,Воробьевы горы,Чижик-II,Исторический,B,10,2024-11-30 23:47:00,2024-11-30 23:57:00
3972,Воробьевы горы,Чижик-II,Исторический,B,10,2024-11-30 23:47:00,2024-11-30 23:57:00
3973,Воробьевы горы,Чижик-II,Исторический,B,10,2024-11-30 23:47:00,2024-11-30 23:57:00
3974,Воробьевы горы,Чижик-II,Исторический,B,10,2024-11-30 23:47:00,2024-11-30 23:57:00

In [114]:
df[df['route.nameroute'] == 'Северный 1А']

,dock.name,ship.name,route.nameroute,position.berth_letter,timetable.duration,Причаливание,Отход
0,Воробьевы горы,Алина Браво,Северный 1А,A,4,2024-11-30 00:01:00,2024-11-30 00:05:00
7,Китай-город,Удача,Северный 1А,C,7,2024-11-30 00:05:00,2024-11-30 00:15:00
8,Нескучный сад,Романтика,Северный 1А,B,3,2024-11-30 00:08:00,2024-11-30 00:11:00
11,Нескучный сад,Счастье,Северный 1А,A,4,2024-11-30 00:11:00,2024-11-30 00:15:00
12,Киевский,Рио,Северный 1А,B,10,2024-11-30 00:12:00,2024-11-30 00:22:00
...,...,...,...,...,...,...,...
3977,Китай-город,Святогор,Северный 1А,C,7,2024-11-30 23:50:00,2024-11-30 00:00:00
3979,Китай-город,Вдохновение,Северный 1А,C,7,2024-11-30 23:50:00,2024-11-30 00:00:00
3980,Нескучный сад,Москва-21,Северный 1А,B,3,2024-11-30 23:53:00,2024-11-30 23:56:00
3981,Нескучный сад,Михаил Сеспель,Северный 1А,A,4,2024-11-30 23:56:00,2024-11-30 00:00:00
3982,Киевский,Алина Прима,Северный 1А,B,10,2024-11-30 23:57:00,2024-11-30 00:07:00

dock_start фильтр -> ищем dock_end в route.nameroute

In [ ]:
df.groupby('')

In [131]:
dock_start = 'Воробьевы горы'
dock_end = 'Красный октябрь'
datetime_cur = pd.to_datetime('2024-11-30 15:30:00')

Название маршрутов, проходящих через данную остановку

In [132]:
nameroute_arr = df[df['dock.name'] == dock_start]['route.nameroute'].unique()
nameroute_arr

array(['Северный 1А', 'Исторический', 'Северный', 'Разовый подход'],
      dtype=object)

Ищем маршруты в которых есть пункт назначения (возможно их нет) и пречаливание которых больше текущего времени

In [133]:
df[(df['route.nameroute'] == 'Исторический') & (df['dock.name'] == dock_end) & (df['Причаливание'] >= datetime_cur)]

,dock.name,ship.name,route.nameroute,position.berth_letter,timetable.duration,Причаливание,Отход
1845,Красный октябрь,Москва-51,Исторический,A,4,2024-11-30 15:34:00,2024-11-30 15:38:00
1884,Красный октябрь,Адмиралъ,Исторический,A,4,2024-11-30 15:49:00,2024-11-30 15:53:00
1931,Красный октябрь,Москва-61,Исторический,A,4,2024-11-30 16:04:00,2024-11-30 16:08:00
2013,Красный октябрь,Полковник Новгородов,Исторический,A,4,2024-11-30 16:19:00,2024-11-30 16:23:00
2061,Красный октябрь,Москва-28,Исторический,A,4,2024-11-30 16:34:00,2024-11-30 16:38:00
...,...,...,...,...,...,...,...
3771,Красный октябрь,Алина Танго,Исторический,A,4,2024-11-30 22:49:00,2024-11-30 22:53:00
3843,Красный октябрь,Москва-51,Исторический,A,4,2024-11-30 23:04:00,2024-11-30 23:08:00
3868,Красный октябрь,Адмиралъ,Исторический,A,4,2024-11-30 23:19:00,2024-11-30 23:23:00
3921,Красный октябрь,Москва-61,Исторический,A,4,2024-11-30 23:34:00,2024-11-30 23:38:00
3976,Красный октябрь,Полковник Новгородов,Исторический,A,4,2024-11-30 23:49:00,2024-11-30 23:53:00

Ищем среди ship.name те, которые еще не отплыли относительно текущего времени

In [ ]:
df[(df['ship.name'] == 'Москва-61') & (df['dock.name'] == dock_start) & (df['Отход'] >= datetime_cur)]

,dock.name,ship.name,route.nameroute,position.berth_letter,timetable.duration,Причаливание,Отход
2380,Воробьевы горы,Москва-61,Исторический,B,10,2024-11-30 17:47:00,2024-11-30 17:57:00
3076,Воробьевы горы,Москва-61,Исторический,B,10,2024-11-30 20:17:00,2024-11-30 20:27:00
3768,Воробьевы горы,Москва-61,Исторический,B,10,2024-11-30 22:47:00,2024-11-30 22:57:00

In [143]:
data = pd.DataFrame(columns=df.columns)
for nameroute in nameroute_arr:
    for ship_name in df[(df['route.nameroute'] == nameroute) & (df['dock.name'] == dock_end) & (df['Причаливание'] >= datetime_cur)]['ship.name'].unique():
        data = pd.concat([data, df[(df['ship.name'] == ship_name) & (df['dock.name'] == dock_start) & (df['Отход'] >= datetime_cur)]])
data.sort_values('Отход')

/tmp/ipykernel_116971/20985948.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([data, df[(df['ship.name'] == ship_name) & (df['dock.name'] == dock_start) & (df['Отход'] >= datetime_cur)]])

,dock.name,ship.name,route.nameroute,position.berth_letter,timetable.duration,Причаливание,Отход
1855,Воробьевы горы,ОМ-349,Разовый подход,B,5,2024-11-30 15:35:00,2024-11-30 15:40:00
1840,Воробьевы горы,Полковник Новгородов,Исторический,B,10,2024-11-30 15:32:00,2024-11-30 15:42:00
1865,Воробьевы горы,М-250,Разовый подход,B,5,2024-11-30 15:40:00,2024-11-30 15:45:00
1882,Воробьевы горы,Москва-28,Исторический,B,10,2024-11-30 15:47:00,2024-11-30 15:57:00
1927,Воробьевы горы,М-250,Исторический,B,10,2024-11-30 16:02:00,2024-11-30 16:12:00
...,...,...,...,...,...,...,...
3966,Воробьевы горы,Чижик-II,Исторический,B,10,2024-11-30 23:47:00,2024-11-30 23:57:00
3967,Воробьевы горы,Чижик-II,Исторический,B,10,2024-11-30 23:47:00,2024-11-30 23:57:00
3938,Воробьевы горы,Олимпиада,Исторический,B,10,2024-11-30 23:47:00,2024-11-30 23:57:00
3935,Воробьевы горы,Чижик-II,Исторический,B,10,2024-11-30 23:47:00,2024-11-30 23:57:00
3973,Воробьевы горы,Чижик-II,Исторический,B,10,2024-11-30 23:47:00,2024-11-30 23:57:00

In [ ]:
def cord_to_dock(latitude: float, longitude: float) -> list:
    '''
    Возвращает список причалов, отсортированных по близости к текущей точке
    '''
    # подумать какой формулой задавать расстояние
    pass

def func(latitude_cur: float, longitude_cur: float, dock_end: str, datetime_cur: str) -> pd.DataFrame:
    '''
    Создание релевантного расписания.
    
    Аргументы функции:  
    latitude_cur - долгота точки клиента
    longitude_cur - широта точки клиента
    dock_end - пункт назначения, название причала
    datetime_cur - текущая дата и время, в формате 'YYYY-MM-DD HH:MM:SS' (24-часовом формате времени)
    '''
    pass
    # смотрим какие судна прибудут на текущий пречал начиная с этого времени